.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.euroflag{
  height: 30px;
}

.footer{
  width: 100vw;
  border-top: 10px solid #7B1B58;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background-color: #F5F5F5 !important;
}

.lsaai{
  font-size: 12px;
  margin-bottom: 4px;
}

body{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: 100vh;
}

.allele{
position: relative;
top: 20%;
color: #7B1C58;
}

.button1{
  border-radius: 5px;
  border: 1px solid black;
  height: 35px;
  width: 80px;
}


.button1:hover {
  background-color: #7B1B58;
  color: white;
}

.button2{
  border-radius: 5px;
  border: 1px solid black;
  height: 35px;
  width: 80px;
}


.button2:hover {
  background-color: #7276B1;
  color: white;
}



.GDI-logo{
  height: 10vh;
}

.customButton {
  background-color: '#0B0C10';
  border: '#45A293';
  color: '#45A293';
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}


/* Background-color of the odd rows */
.restable tr:nth-child(odd) {
  background-color: #323C50;
}

/* Background-color of the even rows */
.restable tr:nth-child(even) {
  background-color: #2C3446;
}

.restable th {
  background-color: #1F2739;
}

.restable td:first-child { color: #FB667A; }

.restable tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
}

.restable td:hover {
background-color: #FFF842;
color: #403E10;
font-weight: bold;

box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
transition-timing-function: line;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Patua+One');

.logo {
  font-family: 'Patua One', sans-serif;
  font-weight: 400;
}

.landing {
  font-size: 72px;
}

.middle-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  margin: auto auto;
  position: absolute;
  text-align: center;
}